# Build
.build/
DerivedData/

# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# Swift Package Manager
.swiftpm/
Package.resolved

# macOS
.DS_Store

# Debug symbols
*.dSYM/

# App bundles
*.app/
